body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg,#0a0a2a,#1a1a3e);
    color: white;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

.page { display: none; }
.page.active { display: block; }

input {
    padding: 12px;
    width: 80%;
    border-radius: 20px;
}

button {
    padding: 12px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    background: gold;
    cursor: pointer;
}

.mailbox { font-size: 80px; cursor: pointer; }

.option {
    padding: 10px;
    margin: 10px;
    background: rgba(255,255,255,0.1);
    border-radius: 20px;
    cursor: pointer;
}

/* PUZZLE */
#puzzleBoard {
    width: 320px;
    height: 320px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: 2px solid gold;
}

.piece {
    width: 80px;
    height: 80px;
    background-size: 320px 320px;
    cursor: grab;
}

.piece.dragging { opacity: 0.5; }
